.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 pxToRem(108);
  box-sizing: border-box;
}

@for $i from 1 through 12 {  
  .col_width_#{$i} {
    width: 100% * $i / 12;
  }
}
