.select {
  margin-bottom: pxToRem(32);
  font-size: 0;

  select {
    display: none;
  }
}

.choices {
  position: relative;
  outline: none;

  &__inner {
    max-height: pxToRem(64);
    padding: pxToRem(22) !important;
    border-radius: pxToRem(2);
    border: pxToRem(2) solid $color-white;
    box-sizing: border-box;
    background-color: $color-cerulean-blue;
    color: $color-white;
    font-size: pxToRem(16);
    font-weight: 400;
    letter-spacing: pxToRem(0.32);
    line-height: pxToRem(17);

    .choices__item--selectable::after {
      position: absolute;
      top: 50%;
      right:  pxToRem(24);
      display: block;
      width: pxToRem(24);
      height: pxToRem(24);
      margin-top:  pxToRem(-12);
      background: url('../resources/img/select-arrow.png') center no-repeat;
      content: '';
    }

    &:focus,
    &:hover {
      border-bottom: pxToRem(4) solid $color-white;
    }
  }

  &__list--single {
    padding: 0;
  }

  &__list--dropdown {
    display: none;
    position: absolute;
    top: pxToRem(64);
    left: 0;
    z-index: 3;
    width: 100%;
    max-height: pxToRem(256);
    overflow-y: auto;
    background-color: $color-cerulean-blue;
    color: $color-white;

    .choices__list {
      border-radius: pxToRem(2);
      border: pxToRem(2) solid $color-white;
      background-color: $color-cerulean-blue;
    }

    .choices__item {
      position: relative;
      padding: pxToRem(20) pxToRem(22);
      color: $color-white;
      font-size: pxToRem(16);
      font-weight: 400;
      letter-spacing: pxToRem(0.32);
      line-height: pxToRem(16);
      
      &:first-of-type {
        padding-top: pxToRem(22);
      }

      &:last-of-type {
        padding-bottom: pxToRem(22);
      }

      &:hover,
      &:focus {
        background-color: rgba(255,255,255, 0.25);
      }
    }

    &.is-active {
      display: block;
    }
  }

  &.is-open {
    .choices__inner {
      border-bottom: pxToRem(4) solid $color-white;
      
      .choices__item--selectable::after {
        transform: rotate(180deg);
      }
    }


  } 

  &:focus,
  &:active,
  &:visited {
    outline: none;
  }
}